@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@font-face {
    font-family: "Sang Sunrise";
    src: url("./font/SangBleu-Sunrise.ttf") format("truetype");
}
* {   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --nav-bg-color:#EAE4EA;
    --button-color:#AA6AAA;
    --bg-color:#f0ebf3;
    --card-color:#AA6AAA;
    --advertise-bg-color:#8A737D;
}
html,
body {
  height: 100%;
  width: 100%;
}
ul {
  list-style: none;
}

a {
  /* color: white; */
  color: black;
  display: inline-block;
  text-decoration: none;
  font-family: "Cairo", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* common  class*/
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  padding: 0 15px;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

/*  */
.navbar-links{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: flex-end;
    /* background-color: red; */
    /* position: relative; */
    padding: 20px 0;
}
.navbar-links li:nth-child(4) a{
    padding: 8px 20px;
    background-color: var(--nav-bg-color);
    border-radius: 30px;
}
.navbar-links a:hover{
    color: var(--button-color);
}
.navbar-logo{
/* position: relative; */
position: absolute;
/* margin-top: -40px; */
top: -5px;
right: 79%;
}
.navbar-toggler{
    display: none;
}
/* hero */
.hero {
  text-align: center;
  /* padding: 3rem 10%; */
  /* background-color: rebeccapurple; */

}

.hero-banner{
    background-color: red;
    padding-top: 50px;
    background-image: url("./images/hero-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.hero h1 {
  font-size: 54px;
  color: #0b1a28;
  font-family: "Sang Sunrise", serif;
  font-weight: 200;
}


.hero p {
  margin: 1.5rem auto;
  max-width: 750px;
  font-size: 16px;
  line-height: 25px;
  color: #666;
  font-family: "Cairo", sans-serif;
}

.hero-btn {
  background: var(--button-color);
  color: white;
  border: none;
  border-radius: 230px;
  padding: 0.7rem 40px;
  font-size: 0.95rem;
  cursor: pointer;
  /* transition: 0.3s; */
}

.hero-btn:hover {
  background: #5b1558;
}

/* Hero Image */
.hero-image {
  /* margin-top: 2rem; */
  margin-top: 20px;
  /* padding-top: 10px; */
}

.hero-image img {
  width: 100%;
  max-width: 900px;
  /* border-radius: 10px;
   */
  /* box-shadow: 0 5px 20px rgba(0,0,0,0.1); */
  border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.hero-image figure{
    padding-top: 10px;
}
/* property */
.property-image figure{
    border-radius: 15px;
    /* overflow: hidden; */
    max-width: 490px;
}
.property-image img{
    border-radius: 15px;
}
.text-part h2{
    font-family: "Sang Sunrise", serif;
    font-weight: 200;
    font-size: 50px;
    color: #0b1a28;
    margin-bottom: 50px;
    max-width: 500px;
}
.property-text p{
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #666;
    /* margin-bottom: 20px; */
    max-width: 500px;
    margin: 50px 0;
}
.text-section h2{
    font-family: "Sang Sunrise", serif;
    font-weight: 200;
    font-size: 50px;
    color: #0b1a28;
    /* max-width: 500px; */
    text-align: center;
}
/* Property-card */
.property-cards{
    background-color: var(--bg-color);
}

.card-image img{
    border-radius: 15px;
    /* overflow: hidden; */
    /* box-shadow: 0 5px 20px rgba(0,0,0,0.1); */
    /* margin-bottom: 30px; */
}
.card-text h2{
    font-family: "Sang Sunrise", serif;
    font-weight: 200;
    font-size: 28px;
    color: #0b1a28;
    /* margin: 10px 0; */
    /* padding: 10px 0; */

}
.card-text p{
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    max-width: 280px;

}
.card-text{
    /* background-color: red; */
    padding: 28px 20px;
    background-color: var(--nav-bg-color);
    border-radius: 15px;
}
.card-button{
    margin-top: 90px;
}
.card-texter{
    /* background-color: red; */
    padding: 38px 20px;
    background-color: var(--card-color);
    border-radius: 15px;
}
.card-texter h2{
    font-family: "Sang Sunrise", serif;
    font-weight: 200;
    font-size: 28px;
    color:white;
    /* margin: 10px 0; */
    /* padding: 10px 0; */

}
.card-texter p{
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color:white;
    max-width: 280px;
}
.card-texter .card-button{
color: white;
}
.property-cards .row{
    margin: 10px 0;
}
.property-cards .part2{
    flex-direction: row-reverse;
}
/* testimonials */

.testimonials-section {
  text-align: center;
  padding: 60px 20px;
  background: #fff;
}
.testimonials-section h2{
    font-family: "Sang Sunrise", serif;
    font-weight: 200;
    font-size: 50px;
    color: #0b1a28;
    margin-bottom: 40px;
}
.testimonial-content p{
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #666;
    max-width: 700px;
    margin: 0 auto 20px auto;
}
.small-title {
  background: #f0f0f0;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.testimonial-content h4{
    font-family: "Sang Sunrise", serif;
    font-size: 14px;
    color: #AA6AAA;
}
.section-title {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 30px;
}

.swiper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.swiper-images {
  display: flex;
  gap: 20px;
  align-items: center;
}

.swiper-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;
}

.swiper-img.active {
  opacity: 1;
  transform: scale(1.2);
  border: 3px solid #d63384;
}
.heading-title{
    font-family:"Cairo", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color:black;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid #EFEEED;
    display: inline-block;
    padding: 5px 20px;
}
.nav-btn {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  color:grey;
  background:white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  font-size: 18px;
}
.nav-btn:hover {
  background-color: var(--button-color);
  color: white;
}
.testimonial-content {
  max-width: 700px;
  margin: 0 auto;
}

.testimonial-content p {
  margin-bottom: 10px;
  line-height: 1.6;
}

#testimonial-name {
  font-weight: bold;
  color: #333;
}

#testimonial-role {
  color: gray;
  font-size: 14px;
}

/* advertise */
.advertise-content{
    background-color: var(--advertise-bg-color);
    border-radius: 5px;
    padding: 10px 20px;
    /* text-align: center; */
    color: white;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    gap:30px;
    position: relative;
    bottom: -50px;
}
.advertise-content h2{
    font-family: "Sang Sunrise", serif;
    font-weight: 200;
    font-size: 50px;
}
.icon{
    max-width: 100px;
}
.advertise-content .hero-btn{
    background-color: white;
    color: black
}


/* footer */
footer{
    overflow-x: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
footer{
    background-color: black;
    color: white;
    /* padding: 60px 0; */
    padding-top: 100px;
}
footer h4{
    font-family: "Sang Sunrise", serif;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 20px;
    /* border-bottom: 1px solid white; */
}
footer ul li {
  margin-bottom: 8px;
}

footer ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 14px;
  transition: 0.3s;
}

footer ul li a:hover {
  color: #fff;
}

.subscribe {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #777;
  border-radius: 25px;
  padding: 3px;
}

.subscribe input {
  flex: 1;
  background: none;
  border: none;
  color: #fff;
  padding: 8px 15px;
  font-size: 14px;
  outline: none;
}

.subscribe button {
  background-color: #b35cff;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe button:hover {
  background-color: #7a2de2;
}

/* ===== Social Icons ===== */
.social-icons a {
  /* color: #fff; */
background-color: white;
  margin-right: 15px;
  font-size: 18px;
  transition: 0.3s;
  border-radius: 50%;
  padding: 2px 10px;
}

.social-icons a:hover {
  color: #b35cff;
}

.footer-bottom {
    border-top: 1px solid white;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
}

.footer-bottom p {
  font-size: 13px;
  color: #aaa;
}


/* Resposnive */

@media screen and (max-width: 991px) {
    .navbar-items{
        display: none;
    }
    .navbar-toggler{
        display: block;
        padding-right: 10px;

    }
    .navbar-toggler i{
        font-size: 28px;
        cursor: pointer;
    }
}