@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@font-face {
    font-family: "Sang Sunrise";
    src: url("./font/SangBleu-Sunrise.ttf") format("truetype");
}
* {   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --nav-bg-color:#EAE4EA;
    --button-color:#AA6AAA;
    --bg-color:#f0ebf3;
    --card-color:#AA6AAA;
    --advertise-bg-color:#8A737D;
}
html,
body {
  height: 100%;
  width: 100%;
}
ul {
  list-style: none;
}

a {
  /* color: white; */
  color: black;
  display: inline-block;
  text-decoration: none;
  font-family: "Cairo", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* common  class*/
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  padding: 0 15px;
}

.col-50 {
  width: 50%;
}

.col-25 {
  width: 25%;
}

/*  */
.navbar-links{
    display: flex;
    align-items: center;
    gap: 30px;
}
nav{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: flex-end;
    /* background-color: red; */
    /* position: relative; */
    padding: 20px 0;
}
.navbar-links li:nth-child(4) a{
    padding: 8px 20px;
    background-color: var(--nav-bg-color);
    border-radius: 30px;
}
.navbar-links a:hover{
    color: var(--button-color);
}
.navbar-logo{
/* position: relative; */
position: absolute;
/* margin-top: -40px; */
top: -5px;
right: 79%;
}
.navbar-toggler{
    display: none;
}
/* hero */
.hero {
  text-align: center;
  /* padding: 3rem 10%; */
  /* background-color: rebeccapurple; */
}

.hero-banner{
    background-color: red;
    padding-top: 50px;
    background-image: url("./images/hero-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.hero h1{
  font-size: 54px;
  color: #0b1a28;
  font-family: "Sang Sunrise", serif;
  font-weight: 200;
}


.hero p {
  margin: 1.5rem auto;
  max-width: 750px;
  font-size: 16px;
  line-height: 25px;
  color: #666;
  font-family: "Cairo", sans-serif;
}

.hero-btn {
  background: var(--button-color);
  color: white;
  border: none;
  border-radius: 230px;
  padding: 0.7rem 40px;
  font-size: 0.95rem;
  cursor: pointer;
  /* transition: 0.3s; */
}

.hero-btn:hover {
  background: #5b1558;
}

/* Hero Image */
.hero-image {
  /* margin-top: 2rem; */
  margin-top: 20px;
  /* padding-top: 10px; */
}

.hero-image img {
  width: 100%;
  max-width: 900px;
  /* border-radius: 10px;
   */
  /* box-shadow: 0 5px 20px rgba(0,0,0,0.1); */
  border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.hero-image figure{
    padding-top: 10px;
}
/* property */
.property-image figure{
    border-radius: 15px;
    /* overflow: hidden; */
    max-width: 490px;
}
.property-image img{
    border-radius: 15px;
}
.text-part h2{
    font-family: "Sang Sunrise", serif;
    font-weight: 200;
    font-size: 50px;
    color: #0b1a28;
    margin-bottom: 50px;
    max-width: 500px;
}
.property-text p{
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #666;
    /* margin-bottom: 20px; */
    max-width: 500px;
    margin: 50px 0;
}
.text-section h2{
    font-family: "Sang Sunrise", serif;
    font-weight: 200;
    font-size: 50px;
    color: #0b1a28;
    /* max-width: 500px; */
    text-align: center;
}
/* Property-card */
.property-cards {
  background-color: var(--bg-color);
  padding: 80px 0;
}

.text-section h2 {
  font-family: "Sang Sunrise", serif;
  font-weight: 200;
  font-size: 50px;
  color: #0b1a28;
  text-align: center;
  margin-bottom: 60px;
}

.property-cards .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin: 40px 0;
}

.col-25 {
  flex: 1 1 calc(25% - 25px);
  box-sizing: border-box;
}

.card-image figure {
  margin: 0;
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  display: block;
  border-radius: 15px;
}

.card-text,
.card-texter {
  padding: 30px 20px;
  border-radius: 15px;
}

.card-text {
  background-color: var(--nav-bg-color);
  padding: 35px 20px;
}

.card-texter {
  background-color: var(--card-color);
  padding: 45px 15px;
}

.card-text h2,
.card-texter h2 {
  font-family: "Sang Sunrise", serif;
  font-weight: 200;
  font-size: 28px;
  margin-bottom: 15px;
}

.card-text h2 {
  color: #0b1a28;
}

.card-texter h2 {
  color: white;
}

.card-text p,
.card-texter p {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  max-width: 280px;
}

.card-text p {
  color: #666;
}

.card-texter p {
  color: white;
}

.card-button {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}
.card-texter .card-button{
    color: white;
    margin-top: 10px;
}

.card-button:hover {
  text-decoration: underline;
}

.property-cards .part2 {
  flex-direction: row-reverse;
}
/* testimonials */

.testimonials-section {
  text-align: center;
  padding: 60px 20px;
  background: #fff;
}
.testimonials-section h2{
    font-family: "Sang Sunrise", serif;
    font-weight: 200;
    font-size: 50px;
    color: #0b1a28;
    margin-bottom: 40px;
}
.testimonial-content p{
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #666;
    max-width: 700px;
    margin: 0 auto 20px auto;
}
.small-title {
  background: #f0f0f0;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.testimonial-content h4{
    font-family: "Sang Sunrise", serif;
    font-size: 14px;
    color: #AA6AAA;
}
.section-title {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 30px;
}

.swiper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.swiper-images {
  display: flex;
  gap: 20px;
  align-items: center;
}

.swiper-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;
}

.swiper-img.active {
  opacity: 1;
  transform: scale(1.2);
  border: 3px solid #d63384;
}
.heading-title{
    font-family:"Cairo", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color:black;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid #EFEEED;
    display: inline-block;
    padding: 5px 20px;
}
.nav-btn {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  color:grey;
  background:white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  font-size: 18px;
}
.nav-btn:hover {
  background-color: var(--button-color);
  color: white;
}
.testimonial-content {
  max-width: 700px;
  margin: 0 auto;
}

.testimonial-content p {
  margin-bottom: 10px;
  line-height: 1.6;
}


/* advertise */
.advertise {
  position: relative;
  z-index: 10;
  padding-bottom: 80px; 
}

.advertise-content {
  background-color: var(--advertise-bg-color);
  border-radius: 10px;
  padding: 20px 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  gap: 30px;
  position: relative;
  bottom: -50px;
  text-align: center;
  flex-wrap: wrap;
}

.advertise-content h2 {
  font-family: "Sang Sunrise", serif;
  font-weight: 200;
  font-size: 50px;
  line-height: 1.2;
}

.icon {
  max-width: 100px;
}

.icon img {
  width: 100%;
  display: block;
}

.advertise-content .hero-btn {
  background-color: white;
  color: black;
  border-radius: 230px;
  padding: 0.7rem 35px;
  font-size: 0.95rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.advertise-content .hero-btn:hover {
  background-color: #5b1558;
  color: white;
}
/* footer */
footer{
    overflow-x: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
footer{
    background-color: black;
    color: white;
    /* padding: 60px 0; */
    padding-top: 100px;
}
footer h4{
    font-family: "Sang Sunrise", serif;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    /* width: 50%; */
}
footer ul li {
  margin-bottom: 8px;
}

footer ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 14px;
  transition: 0.3s;
}

footer ul li a:hover {
  color: #fff;
}

.subscribe {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
}

.subscribe input {
  width: 100%;
  background: none;
  border: 1px solid #777;
  border-radius: 25px;
  color: #fff;
  padding: 10px 15px;
  font-size: 14px;
  outline: none;
}

.subscribe button {
  position: absolute;
  right: -45px; /* moves button outside input */
  background-color: #b35cff;
  border: none;
  color: #fff;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe button i {
  font-size: 22px;
}

.subscribe button:hover {
  background-color: #7a2de2;
}
.social-icons a {
  /* color: #fff; */
background-color: white;
  margin-right: 15px;
  font-size: 18px;
  transition: 0.3s;
  border-radius: 50%;
  padding: 2px 10px;
}

.social-icons a:hover {
  color: #b35cff;
}

.footer-bottom {
    border-top: 1px solid white;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
}

.footer-bottom p {
  font-size: 13px;
  color: #aaa;
}



/* Resposnive */
@media screen and (max-width:1199) {
.property-cards .row .col{
    width: 100%;
    background-color: red;
}

    
}
@media screen and (max-width: 991px) {
    .navbar-items{
        position: absolute;
        display: none;
        top: 70px;
        left: 2px;
         flex-direction: column;
        background-color: var(--nav-bg-color);
        width: 100%;
        padding: 20px 0;
    }
    .navbar-links{
        flex-direction: column;
        background-color: var(--nav-bg-color);
        width: 100%;
        padding: 20px 0;
    }
    .navbar-toggler{
        display: block;
        padding-right: 10px;

    }
    .navbar-toggler i{
        font-size: 28px;
        cursor: pointer;
    }
     .hero-banner {
    flex-direction: column;
    text-align: center;
    padding: 40px 30px;
  }

  .hero h1 {
    font-size: 42px;
  }

  .hero p {
    font-size: 15px;
    max-width: 600px;
  }

  .hero-image img {
    /* margin-top: 90px; */
    /* padding-top: 100px; */
    max-width: 700px;
  }
  /* peoperty */
    .text-section h2 {
    font-size: 42px;
  }
.property-cards .col{
    width: 100%;
}
  .property-cards .row {
    gap: 20px;
    flex-direction: column;
  }

  .card-text p,
  .card-texter p {
    max-width: 100%;
  }
  .advertise-content {
    padding: 20px 30px;
    gap: 20px;
  }

  .advertise-content h2 {
    font-size: 40px;
  }

  .icon {
    max-width: 80px;
  }

  .advertise-content .hero-btn {
    padding: 0.6rem 30px;
    font-size: 0.9rem;
  }
    .advertise-content {
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 15px;
    bottom: -30px;
    padding: 25px 20px;
  }

  .advertise-content h2 {
    font-size: 32px;
  }

  .icon {
    max-width: 70px;
  }
    .testimonials-section {
    padding: 50px 15px;
  }

  .testimonials-section h2 {
    font-size: 38px;
    margin-bottom: 30px;
  }

  .swiper {
    flex-direction: column;
    gap: 20px;
  }

  .swiper-images {
    gap: 15px;
  }

  .nav-btn {
    width: 45px;
    height: 45px;
    font-size: 16px;
  }

  .swiper-img {
    width: 60px;
    height: 60px;
  }

  .testimonial-content p {
    font-size: 15px;
    line-height: 24px;
    padding: 0 10px;
  }

  .testimonial-content h4 {
    font-size: 13px;
  }
  footer{
    text-align: center;
  }
  footer .row{
    flex-direction: column;
    gap: 15px;
  }
  footer .col{
    /* background-color: red; */
    width: 100%;
  }
   .subscribe {
    max-width: 300px;
  }

  .subscribe input {
    font-size: 13px;
    padding: 9px 12px;
  }

  .subscribe button {
    right: -12px;
    width: 40px;
    height: 40px;
  }

  .subscribe button i {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
    .property-cards .part2{
        flex-direction: column;
    }
    .advertise-content{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .property-section .row{
        flex-direction: column;
    }
    .property-section .col{
        width: 100%;
        margin-bottom: 30px;
    }
      .advertise-content {
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 15px;
    bottom: -30px;
    padding: 25px 20px;
  }

  .advertise-content h2 {
    font-size: 32px;
  }

  .icon {
    max-width: 70px;
  }
    .testimonials-section {
    padding: 40px 10px;
  }

  .testimonials-section h2 {
    font-size: 30px;
  }

  .heading-title {
    font-size: 12px;
    padding: 4px 15px;
  }

  .swiper {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .swiper-images {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .swiper-img {
    width: 55px;
    height: 55px;
  }

  .nav-btn {
    width: 40px;
    height: 40px;
    font-size: 15px;
  }

  .testimonial-content p {
    font-size: 14px;
    line-height: 22px;
  }

  .testimonial-content h4 {
    font-size: 12px;
  }

  .section-title {
    font-size: 11px;
  }
}